.footer {
    background: #F3F2F0;
}
.footer__inner {
    padding: 60px 0 60px 0;
    display: flex;
    justify-content: space-between;
}
.footer__nav {
    display: flex;
    justify-content:space-between;
    gap: 150px;
}
.footer__nav-list {
}
.footer__nav-title {
    font-weight: 600;
    color: $black;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer__nav-item {
    margin-bottom: 20px;

    &:last-child{
        margin-bottom: 0;
    }
}
.footer__nav-link {
    font-size: 14px;
    line-height: 17px;
    color: $black;

    &:hover{
        text-decoration: underline;
    }
    
}
.footer__form {
}
.footer__form-send{
display: flex;
flex-wrap: nowrap;

}
.footer__form-title {
    font-weight: 600;
    color: $black;
    font-size: 16px;
    margin-bottom: 20px;
}
.footer__form-text {
    font-size: 14px;
    color: $black;
    line-height: 17px;
    margin-bottom: 7px;
}
.footer__form-input {
    background: #fff;
    border: 2px solid $red;
    outline-color: $red;
    border-radius: 10px 0 0 10px;
    height: 40px;
    width: 330px;

    padding: 0 10px;
}
.footer__form-submit {
    background: $red;
    height: 40px;
    width: 40px;
    z-index: 1;
    border-radius: 0px 10px 10px 0px;
    color: #fff;
    cursor: pointer;
    background:$red url(../images/icon/send.svg)center no-repeat;
    transition:all .2s linear;

    &:hover{
        background-color:$black ;
    }
}



.copyright {
    padding: 20px 0;
    border-top: 1px solid #999999;
    display:flex;
    justify-content: space-between;
    align-items: center;
    &__logo {
        display: block;
}
    &__text {
        text-align: center;
        color: $black;
        font-size: 14px;

        & a{
            color: $blue;
            font-weight: 600;

            &:hover{
                text-decoration:underline;
            }
        }
}
    &__social {
        display: flex;
        align-items: center;
        gap: 12px;
        transition: .2s linear;
}
    &__social-link {
        transition: all .8s linear;
        &:hover{
            position: relative;
            top: -4px;
        }
}
}


@media(max-width:1100px){
    .footer__nav{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 100%;
    }
    .footer__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 40px;
    }
}


@media(max-width:425px){
    .footer__form-input{
        width: 288px;
        }
}
@media(max-width:768px){
    .copyright{
        display: block;
        flex-wrap: wrap;
        position: relative;
        padding-bottom: 30px;
    }
    .copyright__logo{
        margin-bottom: 12px;
    }

    .copyright__text{
        position: absolute;
        bottom: 0;
        left: 0;
            }
}