.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;

    &:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index:0;
    }
}
.header__body {
    position: relative;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    max-width: 70%;
    width: 100%;
}
.header__burger {
    display: none;
    margin-right: 20px;
}
.logo {
    flex: 0 0 208px;
    position: relative;
    display: flex;
    justify-content: left;
    z-index: 6;

    & img{
        max-width: 100%;
    }
}
.header__change{
display: flex;
gap: 30px;
}
.header__menu {
    display: flex;
    justify-content: space-between;
}
.header__menu-list {
    display: flex;
    gap: 35px;
    align-items: center;
}
.header__menu-item {
    width: 75px;
}
.header__menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: $black;
    transition: all .2s linear;

    &:hover{
        color: $red;
    }
}
.header__currency {
    cursor: pointer;
    color: $red;
    font-weight: 700;
    border-bottom: 2px dotted;
}
.header__symbols {
    cursor: pointer;
    color: $red;
    font-weight: 700;
    font-size: 18px;
    font-family:inherit;
    -moz-appearance: none;
    -webkit-appearance: none;
    position: relative;
    text-align: center;
    padding: 3px 7px;
    border: 0 0 2px 0 ;
    outline: none;
}
.header__user{
    display: flex;
    justify-content: right;
}

@media(max-width:998px){
    body.lock{
        overflow:hidden;
    }
    .header__wrapper{
        display: flex;
        align-items: center;
    }
    .logo{
        z-index: 10000;
    }
    .header__body{
        max-width: 100%;
        width: 100%;
    }
    .header__user{
        z-index: 10000;
        width: 32px;
    }
    .header__cabinet{
        display: flex;
        justify-content: right;
    }
    .header__burger{
        position: relative;
        display: block;
        width: 30px;
        height: 20px;
        z-index: 100000;
        &:after,
        &:before,
        & span{
            content: '';
            background-color: #333;
            height: 3px;
            width: 100%;
            position: absolute;
            left: 0;
            transition:all .2s ease 0s;
        }
        &:after{
            bottom: 0;
        }
        &:before{
            top: 0;
        }
        & span{
            top: 9px;
            transition: all .2s ease 0s;
        }
    }
    .header__burger.active:before{
        transform: scale(0);
    }
    .header__burger.active:after{
        transform: rotate(130deg);
        top: 9px;
    }
    .header__burger.active span{
        transform: rotate(45deg);
        top: 8px;
    }
    .header__left{
        justify-content: left;
    }
    .header__inner{

        overflow: auto;

        padding: 58px 20px 0 20px;
        position: fixed;
        flex-wrap: wrap;
        justify-content: left;
        top: 10%;
        left: 100%;
        max-width: 100%;
        width: 100%;
        max-height: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 1000;
        transition:all .4s linear;
    }
    .header__inner.active{
        display: flex;
        left: 0;
    }
    .header__menu-list{
        flex-direction: column;
        max-width: 350px;
        width: 100%;
    }
    .header__change{
        position: relative;
        left: -65px;
        top: 230px;
        margin-top: 30px;
        height: 30px;
        font-size: 20px;
    }
    .header__menu-link{
        font-size: 16px;
    }
}


.header__currency {
    padding: 0;
    border-bottom: 2px dotted $red;
}
.header__symbols {
    display:flex;
    gap: 50px;
    

    
    
    a{
        color: inherit;
    }

    & li:hover > ul{
        display: block;
    }

    & li ul{
        text-align: left;
        position: absolute;
        min-width: 30px;
        background-color: #fff;
        padding: 0;
        list-style: none;
        border-top: 1px solid #fff;
        display: none;

    }
}
.header__lang {
    border-bottom: 2px dotted $red;
}